<div class="impacts-fields">
  <div class="">
    <%# form.label :climate_change %>
    <%# form.text_field :climate_change %>
    <%= label_tag 'cycle[components][][impacts][climate_change]', "Climate Change" %>
    <%= text_field_tag 'cycle[components][][impacts][climate_change]' %>

  </div>
  <div class="">
    <%# form.label :water_use %>
    <%# form.text_field :water_use %>
    <%= label_tag 'cycle[components][][impacts][water_use]', "Water Use" %>
    <%= text_field_tag 'cycle[components][][impacts][water_use]' %>

  </div>
</div>
