<div class="impacts-fields">
  <div class="">
    <%= form.label :climate_change %>
    <%= form.text_field :climate_change %>
  </div>
  <div class="">
    <%= form.label :water_use %>
    <%= form.text_field :water_use %>
  </div>
</div>
