<div class="impacts-fields">
  <div class="">
    <%= label_tag 'cycle[components][][components][][impacts][climate_change]', "Climate Change" %>
    <%= text_field_tag 'cycle[components][][components][][impacts][climate_change]' %>
  </div>
  <div class="">
    <%= label_tag 'cycle[components][][components][][impacts][water_use]', "Water Use" %>
    <%= text_field_tag 'cycle[components][][components][][impacts][water_use]' %>
  </div>
</div>
